.margin {
    margin-top: 200px;
    margin-right: 20px;
}
.tmh-image {
    width: 280px;
    height: 300px;
}

.corFundo {
    background: linear-gradient(45deg, hsla(148, 72%, 55%, 1) 27%, hsla(201, 49%, 33%, 1) 88%);
}

.config {
    margin-top: 80px;
    margin-bottom: 100px;
    padding-top: 50px;
}

.mt-100{
  margin-top: 130px;
}

/* h1, label, .dados-produto{
    font-family: 'Indie Flower', cursive;
} */

.tm-text {
    font-size: 20px;
}

h3{
    /* font-family: 'Indie Flower', cursive; */
    color: rgb(55, 47, 168) ;
}
input{
   
    border-radius: 35px;
    border-color: hsla(148, 72%, 55%, 1)
}

.margem{
    background-color: white;
}

.margin {
    margin-top: 20px;
    margin-right: 20px;
}
.tmh-image {
    width: 280px;
    height: 300px;
}

.config {
    margin-top: 50px;
    margin-bottom: 200px;
    padding-top: 50px;
}

.config2 {
    margin-right: 20px;
    margin-top: 90px;
    margin-bottom: 100px;
    padding-top: 30px;
}


.btn-cadastrar, .btn-editar{
    background-color: rgb(47, 190, 114) ;
    color:white;
    
    /* font-family: 'Indie Flower', cursive; */
}
.btn-cadastrar:hover{
    background-color:  rgb(25, 62, 141);
    ;
}
.btn-editar:hover{
    background-color:  rgb(25, 141, 64);
}

.btn-excluir{
    background-color:rgb(241, 31, 31);
    color:white;
    /* font-family: 'Indie Flower', cursive; */
}
.btn-excluir:hover{
    background-color:rgb(146, 3, 3);
}
.btn-comprar{
   background-color:  rgb(47, 190, 114);
   color: white;
}
.btn-comprar:hover{
    background-color:  rgb(25, 62, 141);
 }