<div class="fundo">
  <div class="container p=0">
    <div class="row linha ">
      <div class="col-md-6">
        <img class="img ml-3 mt-2" src="../../assets/image/SUSTENTAVEL-GIF.gif" width="90%" alt=""> 
      </div>
      <div class="col-md-6 forms">
        <h2 class="text-center mt-4">Como tem sido sua experiência no nosso Site?</h2>
        <form class="m-3">
          <div class="form-group">
            <label  for="nome">Nome</label>
            <input type="text" class="form-control nome" id="nome" placeholder="Digite aqui seu nome">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Endereço de email</label>
            <input type="email" class="form-control email" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Seu email">
            <small id="emailHelp" class="form-text text-muted ">Nunca vamos compartilhar seu email, com ninguém.</small>
          </div>
          <div class="form-group">
            <label for="texto">Texto</label>
            <textarea class="form-control texto" id="texto" rows="3" placeholder="Digite aqui seu texto"></textarea>
          </div>
          <div class="row d-flex align-items-end">
            <div class="col-md-6">
              <button type="button" class="btn-enviar ">Enviar</button>
            </div>
          </div>
        </form>
      </div> 
    </div>
  </div>
  
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h3 class="mb-5 text-center endereco">Endereço</h3>
        <h4 class="endereco">Você encontrará a gente aqui!</h4>
        <p class="endereco ">Av.Paulista, 1000</p>
        <p class=" endereco ">São Paulo - SP</p>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.1066962959694!2d-46.65390548548131!3d-23.56461116759645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c7f481fd9f%3A0x9982bfde4df54830!2sAv.%20Paulista%2C%201000%20-%20Bela%20Vista%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001310-100!5e0!3m2!1spt-BR!2sbr!4v1597762036217!5m2!1spt-BR!2sbr"
    width="500" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"
    class="b-0 mb-4">
        </iframe>
      </div>
    </div>
    
  </div>
</div>
  














