<div class="main-btn" id="main-btn" (click)="animateButton()">
  <fa-icon [icon]="faUser" class="faUser fa-2x"></fa-icon>
</div>

<div class="sub-btns">
  <div class="btn1" id="btn1">
    <div>
      <a href="#" class="icoLinkedin" title="Linkedin">
        <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x mr-3"></fa-icon>
      </a>
    </div>
  </div>
  <div class="btn2" id="btn2">
    <div>
      <a href="#" class="icoInstagram" title="Instagram">
        <fa-icon [icon]="faInstagram" class="faInstagram fa-2x mr-3"></fa-icon>
      </a>
    </div>
  </div>
  <div class="btn3" id="btn3">
    <div>
      <a href="#" class="icoFacebook" title="Facebook">
        <fa-icon [icon]="faFacebook" class="faFacebook fa-2x mr-3"></fa-icon>
      </a>
    </div>
  </div>
  <div class="btn4" id="btn4">
    <div>
      <a href="#" class="faYoutube" title="Youtube">
        <fa-icon [icon]="faYoutube" class="faYoutube fa-2x mr-4"></fa-icon>
      </a>
    </div>
  </div>
  <div class="touch btn5" id="btn5">
    <div>
      <h2>S</h2>
    </div>
  </div>
  <div class="touch btn6" id="btn6">
    <div>
      <h2>B</h2>
    </div>
  </div>
  <div class="touch btn7" id="btn7">
    <div>
      <h2>R</h2>
    </div>
  </div>
  <div class="touch btn8" id="btn8">
    <div>
        <img src="../../assets/image/LogoU.png" alt="logo" width="30">
    </div>
  </div>
</div>
